.circle {
  border-radius: 50%;
}
.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../../assets/images/my-img-2.jpg");
  background-size: cover;
  border-radius: 50%;
  /* filter: brightness(1.5) contrast(1.5); */
}
.text {
  animation: rotateText 10s linear infinite;
}
.text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 75px;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
