@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  /* font-family: "Roboto Condensed", sans-serif; */
}

/* .typed-cursor {
  display: none !important;
} */

.inner-container {
  @apply xl:px-20 md:px-10 px-4 sm:px-2;
}
.my-container {
  @apply xl:mx-20 md:mx-10 mx-4 sm:mx-2;
}
/* .my-container-sm{
  @apply container mx-auto px-4;
} */

.font-gradient {
  /* background: linear-gradient(to right top, #d207d9, #ac05ca, #ebbdfe, #be9fd7, #c1aaed); */
  background: linear-gradient(to right top, #ffc300, #ffd60a, #eadb90, #fff9de, #f9f6e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* d207d9
c1aaed */
.react-tabs__tab--selected {
  border: none !important;
  background: transparent !important;
}

.react-tabs__tab--selected::after {
  display: none;
  border: none !important;
  background: transparent !important;
}

.gradient-btn {
  @apply bg-gradient-to-r from-bandPrimary via-bandSecondary to-bandTernary hover:from-bandTernary hover:to-bandPrimary;
}

.button-container-dark::before {
  background-color: #ffd60a;
  top: -6px;
  left: -6px;
}

.button-container-light::before {
  background-color: #000814;
  top: -6px;
  left: -6px;
}
.button-container-dark::after {
  bottom: -6px;
  right: -6px;
}

.button-container-light::after {
  bottom: -6px;
  right: -6px;
}

.button-container-light:hover::before,
.button-container-dark:hover::before {
  top: 6px;
  left: 6px;
}
.button-container-light:hover::before {
  border: #000814;
}

.img-container-dark:hover::after {
  bottom: 15px;
  right: 15px;
  border-color: #ffd60a;
}

.button-container-light:hover::after {
  bottom: 6px;
  right: 6px;
  border-color: #ffffff;
}

.button-container-dark:hover::after {
  bottom: 6px;
  right: 6px;
  border-color: #ffd60a;
}

/* ------------------- */
/* Styles for the blog card css  container */
.blog-card {
  box-shadow: 0px 20px 50px #555;
  transition: transform 0.5s, box-shadow 0.5s, z-index 0.5s;
  transform: rotateX(60deg) scale(0.7);
}

.blog-card:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  box-shadow: 0px 20px 100px #555;
  z-index: 5;
}

.blog-card .card-actions {
  visibility: hidden;
}
.blog-card:hover .card-actions {
  visibility: visible;
}
/* Styles for the blog card css  container end */

/* -----------------------------------Stack Card Css starts----------------------------------------- */
:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 2rem;
  --numcards: 6;
  --outline-width: 0px;
}

#cards {
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

#card_1 {
  --index: 1;
  /* transform: translateY(0px) scale(--index); */
}

#card_2 {
  --index: 2;
  /* transform: translateY(40px) scale(--index); */
}

#card_3 {
  --index: 3;
  /* transform: translateY(80px) scale(--index); */
}

#card_4 {
  --index: 4;
  /* transform: translateY(120px) scale(--index); */
}
#card_5 {
  --index: 5;
  /* transform: translateY(160px) scale(--index); */
}
#card_6 {
  --index: 6;
  /* transform: translateY(200px) scale(--index); */
}

.card {
  position: sticky;
  top: -4rem;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */ selector(#cards) start 1,
      /* End when the start edge touches the start of the scrollport */ selector(#cards) start 0;
    start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
    end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
    time-range: 4s;
  }

  .card {
    display: none;
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}

/* -----------------------------------Stack Card Css ends----------------------------------------- */
/* -----------------------------------Shading font Css starts----------------------------------------- */
.shading-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  color: #ffffff;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
    1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
/* -----------------------------------Shading font Css ends----------------------------------------- */
