@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* font-family: "Roboto Condensed", sans-serif; */
}

/* .typed-cursor {
  display: none !important;
} */

.inner-container {
  @apply xl:px-20 md:px-10 px-4 sm:px-2;
}
.my-container {
  @apply xl:mx-20 md:mx-10 mx-4 sm:mx-2;
}
/* .my-container-sm{
  @apply container mx-auto px-4;
} */

.font-gradient {
  /* background: linear-gradient(to right top, #d207d9, #ac05ca, #ebbdfe, #be9fd7, #c1aaed); */
  background: linear-gradient(
    to right top,
    #ffc300,
    #ffd60a,
    #eadb90,
    #fff9de,
    #f9f6e6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-tabs__tab--selected {
  border: none !important;
  background: transparent !important;
}

.react-tabs__tab--selected::after {
  display: none;
  border: none !important;
  background: transparent !important;
}

.gradient-btn {
  @apply bg-gradient-to-r from-bandPrimary via-bandSecondary to-bandTernary hover:from-bandTernary hover:to-bandPrimary;
}

.button-container-dark::before {
  background-color: #ffd60a;
  top: -6px;
  left: -6px;
}

.button-container-light::before {
  background-color: #000814;
  top: -6px;
  left: -6px;
}
.button-container-dark::after {
  bottom: -6px;
  right: -6px;
}

.button-container-light::after {
  bottom: -6px;
  right: -6px;
}

.button-container-light:hover::before,
.button-container-dark:hover::before {
  top: 6px;
  left: 6px;
}
.button-container-light:hover::before {
  border: #000814;
}

.img-container-dark:hover::after {
  bottom: 15px;
  right: 15px;
  border-color: #ffd60a;
}

.button-container-light:hover::after {
  bottom: 6px;
  right: 6px;
  border-color: #ffffff;
}

.button-container-dark:hover::after {
  bottom: 6px;
  right: 6px;
  border-color: #ffd60a;
}

/* ------------------- */
/* Styles for the blog card css  container */

.blog-card {
  overflow: hidden;
}
.blog-card .details {
  transition: all 0.3s ease-in-out;
}
.blog-card:hover .details {
  transform: translateY(-100%);
}

/* Styles for the blog card css  container end */

/* -----------------------------------Stack Card Css starts----------------------------------------- */
:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 2rem;
  --numcards: 6;
  --outline-width: 0px;
}

#cards {
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

#card_1 {
  --index: 1;
  /* transform: translateY(0px) scale(--index); */
}

#card_2 {
  --index: 2;
  /* transform: translateY(40px) scale(--index); */
}

#card_3 {
  --index: 3;
  /* transform: translateY(80px) scale(--index); */
}

#card_4 {
  --index: 4;
  /* transform: translateY(120px) scale(--index); */
}
#card_5 {
  --index: 5;
  /* transform: translateY(160px) scale(--index); */
}
#card_6 {
  --index: 6;
  /* transform: translateY(200px) scale(--index); */
}

.card {
  position: sticky;
  top: -4rem;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
      selector(#cards) start 1,
      /* End when the start edge touches the start of the scrollport */
        selector(#cards) start 0;
    start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
    end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
    time-range: 4s;
  }

  .card {
    display: none;
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(
      var(--reverse-index) - 1
    ); /* 0-based reverse index */
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}

/* -----------------------------------Stack Card Css ends----------------------------------------- */
/* -----------------------------------Shading font Css starts----------------------------------------- */
.shading-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  color: #ffffff;
  text-shadow:
    1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
/* -----------------------------------Shading font Css ends----------------------------------------- */
/* --------------------------------------gradient border css starts----------------------------------------- */
.gradient-border {
  border-image: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  border-image-slice: 1;
}
/* --------------------------------------gradient border css ends----------------------------------------- */

/* ----------------------------------------banner css starts----------------------------------------- */
.banner-name-font {
  background: linear-gradient(
    to right,
    #ffc300 20%,
    #ffd60a 30%,
    #baff0a 70%,
    #89ff0a 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;

  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.2),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    3px 3px 6px rgba(0, 0, 0, 0.2);
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* ----------------------------------------banner css ends-----------------------------------------  */

/* ----------------------------------------wavecontainer css starts-----------------------------------------  */
.wavecontainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 10s infinite;
  overflow: hidden;
}

.wavecontainer:hover {
  animation-play-state: paused;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* box-shadow: 0 0 16px 2px rgba(141, 226, 13, 0.956); */
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    /* box-shadow: 0 0 16px 2px white; */
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    /* box-shadow: 0 0 16px 2px #009fbd; */
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    /* box-shadow: 0 0 16px 2px gold; */
  }
  100% {
    box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.5);
  }
}
/* ----------------------------------------wavecontainer css ends-----------------------------------------  */
