.banner-text-underline {
  text-decoration-color: white;
  text-underline-offset: 0.8rem;
}
@keyframes movingAnim {
  0% {
    /* transform: scale(1); */
    box-shadow: 0 0 16px 2px rgba(141, 226, 13, 0.956);
    /* background-image: linear-gradient(to right, #77037B, #8B5CF6, #210062); */
    /* transform: translate(-10%, 0%); */
    /* border-color: white; */
  }
  25% {
    /* transform: scale(1.2); */
    box-shadow: 0 0 16px 2px white;
    /* background-image: linear-gradient(to right, #8B5CF6, #77037B, #210062); */
    /* transform: translate(0%, 10%); */
    /* border-color: #ed1414; */
  }
  50% {
    /* transform: scale(1); */
    box-shadow: 0 0 16px 2px #009fbd;
    /* background-image: linear-gradient(to right, #8B5CF6, #210062, #77037B); */
    /* transform: translate(10%, 0%); */
    /* border-color: #009FBD; */
  }
  75% {
    /* transform: scale(1); */
    box-shadow: 0 0 16px 2px gold;
    /* background-image: linear-gradient(to right, #210062, #8B5CF6, #77037B); */
    /* transform: translate(0%, -10%); */
    /* border-color: gold; */
  }
  100% {
    /* transform: scale(1); */
    box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.5);
    /* background-image: linear-gradient(to right, #77037B, #8B5CF6, #210062); */
    /* transform: translate(-10%, 0%); */
    /* border-color: white; */
  }
}

.banner-img {
  position: relative;
}

.banner-img {
  animation: movingAnim 3s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.wavecontainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 10s infinite;
  overflow: hidden;
}

.wavecontainer:hover {
  animation-play-state: paused;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* box-shadow: 0 0 16px 2px rgba(141, 226, 13, 0.956); */
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    /* box-shadow: 0 0 16px 2px white; */
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    /* box-shadow: 0 0 16px 2px #009fbd; */
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    /* box-shadow: 0 0 16px 2px gold; */
  }
  100% {
    box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.5);
  }
}

.text-scrollbar {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
}
.text-scrollbar > span {
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.1em;
  }
  50% {
    top: -2.2em;
  }
  75% {
    top: -3.3em;
  }
}
/* -----------------------------rotating circle--------------------------- */
#circle text {
  font-size: 1.5rem;
}
#circle svg {
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
